## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.save
## python files to ignore
*.pyc
## virtualenv files to ignore
bin
include
lib
local
## django files to ignore
## other to ignore
wsgi/bitcorp/companies/migrations
wsgi/bitcorp/entrepreneurs/migrations
wsgi/bitcorp/bitcorp/settings.py
wsgi/bitcorp/db.sqlite3
notas
banco_prueba.py
